/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f4f4f9;
    color: #333;
}

/* Header and Navigation */
header {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Section Styling */
.section {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    align-items: center;
    height: 100vh;
    text-align: left; /* Left-align text */
    padding: 50px 20px;
    width: 100%;
}

.home {
    background-color: #2196f3; /* Blue */
    color: white;
}

.about {
    background-color: #8e44ad; /* Purple, softer and more modern */
    color: white;
}

.contact {
    background-color: #4caf50; /* Green */
    color: white;
}

.content {
    max-width: 800px; /* Control width for better text readability */
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
